:root {
  --blueBG: #171c49;
  --pinkBG: #8d3478;
  --yellowTXT: #f3f2c0;
  --whiteTXT: #ffffff;
}

.summary {
  width: 100%;
  height: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.highlighted {
  background-color: var(--pinkBG);
  padding: 10px;
  width: 6.5em;
}

.score {
  padding: 0.5em;
  font-weight: bold;
}
.cards {
  width: 100%;
  row-gap: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.summaryInfo {
  display: flex;
  align-items: center;
}

.box {
  flex: 1;
  /*border: 1px solid #ccc; Temporary line, just to show the layout during development*/
}

.summary-icon {
  display: flex;
  justify-content: flex-end;
}

h1 {
  color: var(--yellowTXT);
  font-size: larger;
  font-weight: bold;
}
